// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$color-primary: #2ba8c4; // teal
$color-primary-light: lighten($color-primary, 10%);
$color-secondary: #8a1d42; // dark violet red
$color-accent: #eeea72;
$color-shade: #eee;

$color-text: #343434;
$color-bg: #3acec2;
$color-bg-light: #009fe1;

// Fonts
$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;

// Layout
$max-width: 1000px;
$gutter: 10px;

// Breakpoints
$breakpoints: (
 'xs': 575px,
 'sm': 576px,
'med': 768px,
 'lg': 992px,      
);

// Theme colors
$themes: (
    'ent': #79ccf5, 
   'arch': #fd6fa6,
    'edu': #23abbe,
    'sim': #2377bb,
    'soc': #ada3f0,
  'games': #3cb144,
)