// ======================================
//  Card Styles
// ======================================

.card {
  @include flexy($dir: column);
  padding: 1.5em 1em;
  border: 1px solid $color-shade;
  border-radius: 0.25em;
  margin: $gutter;
    h1 {
      color: $color-primary;
      margin: 0.35em 0 0;
      line-height: 1.25;
    }


    @media (max-width: $breakpoints) {
          flex: 1 per-line(2);
    }
    @media (min-width: $breakpoints) {
      flex-basis: per-line(3);
    }
}



